body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.home-container img {
  width: 100vw;
  height: 100%;
  
}

.home-container {
  width: 100vw;
  height: 100vh;
}

.home-text {
  margin-top: 40vh;
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  
  font-family: 'Cantata One', serif;
  color: aliceblue;
}

.home-text h1 {
  font-size: 6vh;
}

.nav-container {
 
  display: flex;
  width: 99vw;
  height: 10vh;
  justify-content: space-between;
  background-color: rgb(14, 13, 13, 0.5);
  padding-right:3vw;
}
.nav-btns {
  display: flex;
}
.nav-btn {
  width: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn h4 {
  color: aliceblue;
  font-weight: 400;
  font-size: larger;
}


.absolute {
  position: absolute;
  width: 100vw;
}


.nav-logo {
  margin-left: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo h2 {
  
  color: aliceblue;
  font-weight: 400;
}

.nav-btn:hover {
  background-color: rgba(165, 164, 162, 0.5);
  cursor: pointer;
}

.nav-bottom-container {
  position: absolute;

  display: flex;

  flex-direction: column-reverse;

  width: 100%;
  height: 100%;
}

.nav-bt-btns-container {
  display: flex;
}

.nav-bt-btn {
  
  background-color: rgb(230, 235, 235,0.1);
  width: 33%;
  height: 20vh;
  padding-left: 5%;
  /* padding-bottom: 2%; */
  border-top: solid rgba(255, 255, 255, 0.7) 0.5px;
  border-right: solid rgba(255, 255, 255, 0.7) 0.5px;
  padding-top: 2%;
}

.nav-bt-btn:hover {
  background-color: rgb(230, 235, 235,0.2);
  cursor: pointer;
}
.nav-bt-btn h5 {
  border-bottom: 0.5px solid white;
  width: fit-content;
  
}


.block {
  height: 20vh;
  width: 90vw;
}


.HPD-slider-container {
  display: flex;
  width: 100%;
  height: 100vh;
  /* background-color: black; */
}

.HPD-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;

}

.HPD-p {
  margin-top:3vh;
  display: flex;
  margin-left:35vw;
 
}

.HPD-p p {
  width: 20vw;
  margin-right: 5vw;
}

.HPD-header {
  margin-top:8vh;
  margin-left: 10vw;
}

.HPD-header h5
  {
color: black;
}

.HPD-header h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 42px;
}

.HPD-p p {
  color: black;
}
.HPD-slider-menu-container {
  display: flex;
  
  width: 30%;
  height: 100%;
  
}

.HPD-slider{
  display: flex;
  width: 70%;
  height: 100%;
  background-color: blue;
}
.app {
  width: 100vw;
}


.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.menu-info-container {
  background-color: rgb(2, 2, 2);
  height: 80%;
  width: 100%;
  padding-left:3vw ;
  
}

.menu-info {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  margin-left: 6%;
  padding-right: 20%;
  margin-top:9%;
 
  
}

.menu-info h5 {
  margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 3px;
    color: rgb(179, 174, 174);
    
 
}

.menu-info h2 {
  margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 0;
    padding-bottom: 4px;
    border-bottom: 2px solid white;
    
  /* width: fit-content; */
}

.menu-info p {
  margin-block-start: 0;
    margin-block-end: 0;
    border-bottom: 0.5px solid white;
    padding-bottom: 5px;
}

.slider-btn {
  border: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  margin-left:3px;
}

.slider-btn:hover {
  cursor: pointer;
  background-color: rgb(51, 51, 51);
}

.slider-btn h5 {
  color: aliceblue;
}

.menu-counter {
  background-color: rgb(0, 0, 0);
  height: 20%;
  width: 100%;
  justify-content: center;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: flex-end;
  padding-bottom: 45%;
}


.slider {
  width: 100%;
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
}
.test {

  max-width: 99vw;
  height: 150vh;
  /* overflow-x: hidden; */
  display: flex;
  
}

.img {
  height: 100%;
  width: 97vw;
}

.img img {
  position: absolute;
  height: 100%;
  width: 100%;
}


.projects-list-container {
  
 
  position: fixed;
  margin-top:20vh;
  display: flex;
  flex-direction: column;
  margin-left:2.5vw;
  width: 25vw;
  height: 100vh;
  
}

.project-item {
  height: 15%;
  width: 100%;
  background: rgb(221, 221, 228);
  /* background: linear-gradient(90deg, rgba(149,149,163,1) 0%, rgba(194,194,208,1) 42%, rgba(172,176,177,1) 100%); */
  border-top: 1px solid rgb(192, 187, 187);
  border-bottom: 0.5px solid rgb(192, 187, 187);
  border-left: 1px solid rgb(192, 187, 187);
  border-right: 1px solid rgb(192, 187, 187);
  display: flex;
  align-items: center;
}

.project-item h2 {
  color: rgb(15, 15, 15);
}
.project-item h2:hover {
  color: rgb(85, 83, 83);
}
.flex {
  display: flex;
}

.project-scroll {
 
margin-left: 35vw;
  width: 60vw;
  height: 85vh;

  border-bottom: 1px solid white;
  margin-bottom:15vh;
}

.project-scroll-2 {
 
  margin-left: 35vw;
    width: 60vw;
    height: 76vh;
   background-color: blue;
    border-bottom: 1px solid white;
    margin-bottom:15vh;
  }

.project-scroll-1 {
  /* margin-top:20vh; */
  margin-left: 35vw;
    width: 60vw;
    height: 85vh;
    
    border-bottom: 1px solid white;
    /* margin-bottom:15vh; */
  }

  .project-scroll-1 h4:hover  {
cursor: pointer;
color: rgb(163, 162, 160);
  }

  .project-scroll-1 h4 {
    color: black;
    width: fit-content;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .hover {
    color: antiquewhite;
   
  }
.more {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid rgb(114, 112, 112);
  position: absolute;
}

/* .project-scroll h1 {
  opacity: 0;
}

.project-scroll h1:hover {
  opacity: 1;
} */


.project-text {
  position: absolute;
  width: 40vw;
  height: 50vh;
  display: flex;
  /* justify-content: center;
  align-content: center; */
}
.column {
  display: flex;
  flex-direction: column;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.fixed {
  position: fixed;
  width: 100%;
}

.project-scroll-img img {
  height: 70vh;
  width: 100%;
}

.project-scroll-img {
  display: flexbox;
}

.PS-name {
  position: absolute;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: rgb(0, 0, 0,0.3);
  
  
}

.PS-name h1 {
  color: rgb(255, 255, 255);
  font-weight: 550;
}

.footer {
  width: 100vw;
  height: 20vh;
  background-color: rgb(54, 52, 52);
 
  
}

.footer-flex {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left:10%;
  width: 80%;
  height: 100%;
  margin-right:10%;
  /* align-items: center; */
  color: rgb(137, 144, 151);
  align-items: center;
}

.footer-info {
  display: flex;
  align-items: center;
  }

  .footer-info img {
    height: 30px;
    width: 30px;
    margin-left:1vw;
  }

  .footer-info img:hover {
    cursor: pointer;
  }
.footer-info h3 {
  margin-left:2vw;
  font-weight: 400;
}

.project-item a {
margin-left: 10%;

}


.leadership-container {

  margin-top:10vh;
 }

 .leadership-container h1 {
  text-align: center;
 }
.leadership-item {
  display: flex;
  justify-content: center;
}

.leadership-item img {
  width: 25vw;
  height: 50vh;
  margin-left:3vw;
}

.leadership-item h5,h2 {
  margin-left:3vw;
}

/* .container {
  justify-content: center;
  
} */


.au-text {
  /* display: flex; */
  margin-top:10vh;
  justify-content: center;
  margin-left:7vw;
  margin-right:7vw;
  
}

.au-text-p {

  display: flex;
  flex-direction: row-reverse;
}

.au-text-p p {
  color: black;
}

.p-width  {
  width: 35%;
}


.au-projects {
  display: flex;
  justify-content: space-between;
}

.project-img1 img {
 width: 40vw;
 height: 100vh;
}

.project-img2 img {
  width: 40vw;
  height: 100vh;
 }

 .project-img2 {
   margin-top:20vh;
 }

 .project-img-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .project-img-info h5 {
   color: black;
 }

 .project-img-info h3:hover {
  cursor: pointer;
}

 .awards-container {
  margin-top:10vh;
  justify-content: center;
  margin-left:7vw;
  margin-right:7vw;
  background-color: rgb(0, 0, 0);
 }

 .awards-top {
   display: flex;
   justify-content: space-between;
   padding-top: 5vh;
   margin-left:5vw;
   margin-right:5vw;
 }

 .awards-top h2,h5,p {
   color: aliceblue;
   margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 0;
 }

 .awards-p {
   width: 25%;
 }

 .awards-year {
   /* display: flex; */
   

 }

 .awards-list {
   display: flex;
   flex-direction: column;
   padding-top: 5vh;
   margin-left:5vw;
   margin-right:5vw;
   padding-bottom:10vh;
 }

 .awards-info {
  border-bottom: 1px solid white;
  display: flex;
  
 }

 .awards-info-item {
  width: 30%;
  color: aliceblue;
 }

 .awards-item {
   display: flex;
   margin-top:2vh;
 }


 .clients-logo img {
width: 15vw;
height: 25vh;
margin-left:1vw;
margin-right:1vw;
margin-top: 1vh;
 }

 .clients-logo {
   display: flexbox;
 }


 .services-text {
   margin-top:10vh;
   margin-left:5vw;
   margin-bottom: 10vh;
 }

 .services-text h1 {
   font-size: 60px;
   margin-bottom: 5vh;
 }

 .services-Info {
   display: flex;
   flex-direction: column;
   margin-left:5vw;
   margin-right: 5vw;
 }

 .services-info-item {
   display: flex;
   margin-bottom: 10vh;
   }

   
 .services-info-item-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10vh;
  }


   .services-info-item-text {
     display: flex;
     flex-direction: column;
     margin-left:5vw;
     margin-right:5vw;
   }
 .services-info-item img {
   width: 50vw;
 }

 .services-info-item-reverse img {
  width: 50vw;
}

 .services-info-item-text h5 {
   color: black;
   font-size: 20px;
   font-weight: 400;
 }

 .services-info-item-text h2 {
  margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 0;
    font-size: 40px;
}


 .map-container {

  /* margin-top: 7vh; */
 }

 .contact-info-container {
display: flex;
justify-content: center;
margin-top:10vh;
margin-bottom: 5vh;
 }

 .contact-info{
   display: flex;
   flex-direction: column;
   width: 25vw;
  background-color: rgb(158, 154, 152, 0.2);
 }

 .contact-info p {
   color: black;
 }
 

 .contact-info-item {
    display: flex;
    align-items: center;
 }

 .contact-info-item h4 {
 padding-right: 1vw;
 width: 20%;
}

.leadership-item h5 {
  color: black;
}


.form {
  display: flex;
  flex-direction: column;
  margin-left:3vw;
}

textarea {
  width: 400px;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgb(150, 145, 145, 0.4);
  font-size: 16px;
  resize: none;
}

input[type="text"] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(150, 145, 145);
  border-radius: 4px;
}


@media only screen and (max-width: 450px) {
 .home-text h1 {
   font-size: 5vw;
   
 }
 .nav-logo h2 {
  display: none;
 }
 .nav-container{
   display: none;
 }
 .nav-bt-btns-container h1,p {
  font-size: 3vw;
 }
 .HPD-header h1 {
   padding-top: 2vh;
  font-size: 6vw;
 }
 .HPD-p  {
   display: none;
   
 }
 .HPD-mobile p {
   color: black;
   font-weight: 650;
 }
 .HPD-mobile {
   padding-top: 3vh;
   width: 40vw;
   margin-left:40vw;
 }

 .HPD-slider-container {
   display: flex;
   flex-direction: column;
 }
 .menu-info-container {
   width: 100vw;
 }
 .menu-counter {
   width: 100vw;
   
 }
 .slider img {
   width: 100vw;
 }
 .footer-info h3   {
   font-size: 12px;
 }
 .footer-info img {
   padding-left: 5px;
 }

 .services-text h1 {
   font-size: 5vh;
   
 }

 .services-info-item-text h2 {
font-size: 3.5vh;

 }
 .services-info-item-text h5 {
   font-size: 2vh;
 }
 .services-Info img {
   height: 100%;
 }
 .flex {
   display: flex;
   flex-direction: column;
 }
 .mobile-projects-containner  {
   display: flex;
   flex-direction: column;
   
  }

  .mobile-project {
    
  }
 .mobile-project img {
   width: 100vw;
   height: 50vh;
 }
 .mobile-project p {
   color: rgb(0, 0, 0);
   font-size: 2.5vh;
   padding-left: 3vw;
  }
  .mobile-project h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 3vw;
    color: rgb(0, 0, 0);
  }
  .mobile-project h3 {
    color: rgb(0, 0, 0);
    padding-left: 3vw;
    padding-bottom: 3vh;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
 .m-p-info {
   display: flex;
   align-items: center;
 }
 #m-p{
   font-weight: 600;
 }

 .menu-counter{
   padding-top: 3vh;
 }
 .leadership-item img {
  
  height: 25vh;
  margin-left: 9vw;
}
.leadership-item h5 {
  margin-left: 9vw;
}
.leadership-item h2 {
  margin-block-start: 0;
    margin-block-end: 0;
    font-size: 15px;
    margin-left: 9vw;
}
.project-img1 img {
 
  height: 50vh;
}
.project-img2 img {
  
  height: 50vh;
}
.project-img-info h3 {
font-size: 2vh;
}
.awards-top p {
  display: none;
}
.awards-info-item {
 
  padding-left: 10px;
}
.clients-logo img {
 
  height: 15vh;
 
}
.leadership-container {
  
  margin-left: -5vw;
}
.contact-info {
 
  width: 100vw;
  padding-left:10px;
  
}
.contact-info-container {

  flex-direction: column;
}
.form{
  width: 100vw;
  margin-left: 0;
  margin-top:5vh;
  margin-left:2px;
  margin-bottom:4vh;
}

.flex {
  display: none;
}

}

@media only screen and (min-width: 450px) {
  
  .nav-logo h1 {
   display: none;
  }
  .mobile-nav {
    display: none;
  }
  .HPD-mobile {
    display: none;
  }
  .mobile-projects-show {
    display: none;
  }
 }

 .content {
 z-index: 10;


}

.content h1 {
  position: absolute;
  margin-left: 65vw;
  padding-top: 1.5vh;
  margin-block-start: 0;
    margin-block-end: 0;
    color: #d1d3d4;
}
nav {
  /* background-color: #1E1E23; */
  display: flex;
  /* flex-direction: row-reverse; */
  height: 65px;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: rgb(0, 0, 0);
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  
  width: 100vw;
  height: 20vh;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-bottom: 100px;
  padding-top: 125px;
  background-color: rgba(8, 8, 8, 0.5);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{ color: #d1d3d4;
  padding: 10px 0;
  transition-delay: 2s;
  font-weight: 700;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


/* .project-header {
 
 
 
} */

.project-info-container {
  width: 100vw;
  height: 80vh;
  background-color: #85888C;
  
}

.project-name {
  width: 30vw;
  padding-top:20vh;
  margin-left:15vw;

  }

  .project-name h1 {
    font-size: 6vh;
    color: rgb(255, 255, 255);
  }

  .project-name h3 {
    font-size: 25px;
  }

  .project-buttons {
    display: flex;
    margin-top: 7vh;
    margin-left: 15vw;

  }

  .button {
    width: 40px ;
    height: 10px;
    background-color: black;
    margin-right: 1vw;
  }

  .button:hover {
    cursor: pointer;
  }

  .project-info {
    padding-top: 10vh;
    margin-left: 15vw;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: row;
  }

  .project-info h1 {
    width: fit-content;
    border-bottom: 2px white solid;
  }

  .project-info p {
    width: 40vw;
  }

  .project-images  {
    width: 100vw;
    height: 100vh;
    background-color: #85888C;
    display: flex;
    flex-direction: row;
    padding-bottom: 20vh;
   
  }

  .project-images img {
    width: 50vw;
    height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
  }


